body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    /*background-color: #f8f8f8;*/
    background-image: linear-gradient(40deg, #01556A 0%, #387C8D 48%, #387C8D 48%, #5F98A6 88%);
    margin: 0;
    min-height: 100vh;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #246c80;
    margin: 1.5em 10px;
    padding: 1.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

/*POST*/
    .header{
        text-align: center;
        width: 100%;
    }
    img.main_logo{
        width: 120px;
        margin: 20px auto;
    }
    .wrapper-post{
        max-width: 768px;
        margin: 0 auto;
        background-color: #fff;
        /*padding: 20px;*/
        color: #3d3d3d;
    }
    .text{
        padding: 20px 30px;
    }
    img.feature_img{
        width: 100%;
        height: auto;
    }
    .content p{
        font-size: 20px;
        line-height: 28px;
    }
    .footer-detail{
        background:none;
        max-width: 768px;
        margin: 0 auto;
        color: #fff;
    }
    .base-footer-detail{
        padding: 40px 20px 60px 20px;
        text-align: center;
    }
/*POST END*/

