.chat{
  list-style: none;
  margin: 0;
  padding: 0;
}
.chat li{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body{
  margin-left: 60px;
}
.chat li.right .chat-body{
  margin-right: 60px;
}
.chat li .chat-body p{
  margin: 0;
  color: #777777;
}
.chat-img
{
  margin-left: 15px;
  margin-right: 15px;
}
.panel .slidedown .glyphicon, .chat .glyphicon{
  margin-right: 5px;
}
.panel-body{
  overflow-y: scroll;
  /*height: 250px;*/
  height: 70vh;
}
.chat li.right {
  /* max-width: 60%; */
  /* float: right; */
  /* clear: both; */
  margin-left: 20%;
  background: #ecf7ff;
  padding: 20px;
  border-radius: 13px;
}
.chat li.left {
  /* max-width: 60%; */
  /* float: right; */
  /* clear: both; */
  margin-right: 20%;
  background: #fffeee;
  padding: 20px;
  border-radius: 13px;
}

.chat li.left-dekape {
  /* max-width: 60%; */
  /* float: right; */
  /* clear: both; */
  margin-right: 20%;
  background: #bef8cd;
  padding: 20px;
  border-radius: 13px;
}


